body{
    font-family: "Roboto", sans-serif;
}
header{
    height: 100vh;
    background: url("../images/photo-1552393700-42696fb89bfa.png") center;
    background-size: cover;
}
.circle{
    background-color: #891818;
    width: 22px;
    height: 22px;
    border-radius: 100%;
}